// Using the de_de keymap as a base
ZMK_BEHAVIOR(DE_AUML,    macro,  bindings = <&macro_tap &kp LA(U) &kp A>;)
ZMK_BEHAVIOR(DE_OUML,    macro,  bindings = <&macro_tap &kp LA(U) &kp O>;)
ZMK_BEHAVIOR(DE_UUML,    macro,  bindings = <&macro_tap &kp LA(U) &kp U>;)
ZMK_BEHAVIOR(DE_SUML,    macro,  bindings = <&macro_tap &kp LA(S)>;)

ZMK_BEHAVIOR(LAYOUT, macro, bindings = <&kp D &kp E &kp D &kp E &kp A &kp N &kp D &kp R &kp O &kp I &kp D>;)
ZMK_COMBO(BR_LAYOUT_KEY,  &LAYOUT, D8,         BASE_LAYER)

ZMK_COMBO(BR_A,  &kp A,        D1,             BASE_LAYER)
ZMK_COMBO(BR_B,  &kp B,        D1 D2,          BASE_LAYER)
ZMK_COMBO(BR_C,  &kp C,        D1 D4,          BASE_LAYER)
ZMK_COMBO(BR_D,  &kp D,        D1 D4 D5,       BASE_LAYER)
ZMK_COMBO(BR_E,  &kp E,        D1 D5,          BASE_LAYER)
ZMK_COMBO(BR_F,  &kp F,        D1 D2 D4,       BASE_LAYER)
ZMK_COMBO(BR_G,  &kp G,        D1 D2 D4 D5,    BASE_LAYER)
ZMK_COMBO(BR_H,  &kp H,        D1 D2 D5,       BASE_LAYER)
ZMK_COMBO(BR_I,  &kp I,        D2 D4,          BASE_LAYER)
ZMK_COMBO(BR_J,  &kp J,        D2 D4 D5,       BASE_LAYER)
ZMK_COMBO(BR_K,  &kp K,        D1 D3 ,         BASE_LAYER)
ZMK_COMBO(BR_L,  &kp L,        D1 D2 D3 ,      BASE_LAYER)
ZMK_COMBO(BR_M,  &kp M,        D1 D3 D4,       BASE_LAYER)
ZMK_COMBO(BR_N,  &kp N,        D1 D3 D4 D5,    BASE_LAYER)
ZMK_COMBO(BR_O,  &kp O,        D1 D3 D5,       BASE_LAYER)
ZMK_COMBO(BR_P,  &kp P,        D1 D2 D3 D4,    BASE_LAYER)
ZMK_COMBO(BR_Q,  &kp Q,        D1 D2 D3 D4 D5, BASE_LAYER)
ZMK_COMBO(BR_R,  &kp R,        D1 D2 D3 D5,    BASE_LAYER)
ZMK_COMBO(BR_S,  &kp S,        D2 D3 D4,       BASE_LAYER)
ZMK_COMBO(BR_T,  &kp T,        D2 D3 D4 D5,    BASE_LAYER)
ZMK_COMBO(BR_U,  &kp U,        D1 D3 D6,       BASE_LAYER)
ZMK_COMBO(BR_V,  &kp V,        D1 D2 D3 D6,    BASE_LAYER)
ZMK_COMBO(BR_W,  &kp W,        D2 D4 D5 D6,    BASE_LAYER)
ZMK_COMBO(BR_X,  &kp X,        D1 D3 D4 D6,    BASE_LAYER)
ZMK_COMBO(BR_Y,  &kp Y,        D1 D3 D4 D5 D6, BASE_LAYER)
ZMK_COMBO(BR_Z,  &kp Z,        D1 D3 D5 D6,    BASE_LAYER)
ZMK_COMBO(BR_AUML, &DE_AUML,  D3 D4 D5,       BASE_LAYER)
ZMK_COMBO(BR_OUML, &DE_OUML,  D2 D4 D6,       BASE_LAYER)
ZMK_COMBO(BR_UUML, &DE_UUML,  D1 D2 D5 D6,    BASE_LAYER)
ZMK_COMBO(BR_SUML, &DE_SUML,  D2 D3 D4 D6,    BASE_LAYER)

ZMK_BEHAVIOR(AU,    macro,  bindings = <&macro_tap &kp A &kp U>;)
ZMK_COMBO(BR_AU, &AU,  D1 D6,             BASE_LAYER)

ZMK_BEHAVIOR(EU,    macro,  bindings = <&macro_tap &kp E &kp U>;)
ZMK_COMBO(BR_EU, &EU,  D1 D2 D6,          BASE_LAYER)

ZMK_BEHAVIOR(EI,    macro,  bindings = <&macro_tap &kp E &kp I>;)
ZMK_COMBO(BR_EI, &EI,  D1 D4 D6,          BASE_LAYER)

ZMK_BEHAVIOR(CH,    macro,  bindings = <&macro_tap &kp C &kp H>;)
ZMK_COMBO(BR_CH, &CH,  D1 D4 D5 D6,       BASE_LAYER)

ZMK_BEHAVIOR(ST,    macro,  bindings = <&macro_tap &kp S &kp T>;)
ZMK_COMBO(BR_ST, &ST,  D2 D3 D4 D5 D6,    BASE_LAYER)

ZMK_BEHAVIOR(IE,    macro,  bindings = <&macro_tap &kp I &kp E>;)
ZMK_COMBO(BR_IE, &IE,  D3 D4 D6,          BASE_LAYER)

ZMK_BEHAVIOR(SCH,   macro,  bindings = <&macro_tap &kp S &kp C &kp H>;)
ZMK_COMBO(BR_SCH, &SCH, D1 D5 D6,         BASE_LAYER)

ZMK_BEHAVIOR(AUML_U, macro, bindings = <&macro_tap &DE_AUML &kp U>;)
ZMK_COMBO(BR_AUML_U, &AUML_U,  D3 D4,     BASE_LAYER)


ZMK_COMBO(BR_COMM, &kp COMMA,      D2,         BASE_LAYER)
ZMK_COMBO(BR_SCOL, &kp SEMI,       D2 D3,      BASE_LAYER)
ZMK_COMBO(BR_COLO, &kp COLON,      D2 D5,      BASE_LAYER)
ZMK_COMBO(BR_QUE1, &kp QUESTION,   D2 D6,      BASE_LAYER)
ZMK_COMBO(BR_EXCL, &kp EXCLAMATION, D2 D3 D5,  BASE_LAYER)
ZMK_COMBO(BR_LEFT, &kp LPAR,       D2 D3 D5 D6,BASE_LAYER)
ZMK_COMBO(BR_DOU1, &kp DOUBLE_QUOTES, D2 D3 D6,BASE_LAYER)
ZMK_COMBO(BR_DOU2, &kp DOUBLE_QUOTES, D3 D5 D6,BASE_LAYER)
ZMK_COMBO(BR_PERI, &kp DOT,        D3,         BASE_LAYER)
ZMK_COMBO(BR_MINU, &kp MINUS,      D3 D6,      BASE_LAYER)
ZMK_COMBO(BR_QUOT, &kp APOSTROPHE, D6,         BASE_LAYER)

ZMK_COMBO(BR_TO_NUM, &to NUM_LAYER, D3 D4 D5 D6,  BASE_LAYER)
ZMK_COMBO(BR_1, &kp N1,        D1,             NUM_LAYER)
ZMK_COMBO(BR_2, &kp N2,        D1 D2,          NUM_LAYER)
ZMK_COMBO(BR_3, &kp N3,        D1 D4,          NUM_LAYER)
ZMK_COMBO(BR_4, &kp N4,        D1 D4 D5,       NUM_LAYER)
ZMK_COMBO(BR_5, &kp N5,        D1 D5,          NUM_LAYER)
ZMK_COMBO(BR_6, &kp N6,        D1 D2 D4,       NUM_LAYER)
ZMK_COMBO(BR_7, &kp N7,        D1 D2 D4 D5,    NUM_LAYER)
ZMK_COMBO(BR_8, &kp N8,        D1 D2 D5,       NUM_LAYER)
ZMK_COMBO(BR_9, &kp N9,        D2 D4,          NUM_LAYER)
ZMK_COMBO(BR_0, &kp N0,        D2 D4 D5,       NUM_LAYER)
